		<header id="header">
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"></span>
				<!-- END LOGO PLACEHOLDER -->
            </div>

			<div class="pull-right">
            <ul class="top-nav">
                <li class="active">
                    <a href="#index.html" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                </li>

                <li>
                    <a href="#books.html"><i class="fa fa-lg fa-fw fa-book"></i> <span class="menu-item-parent">Books</span></a>
                </li>

            </ul>
            </div>



			<!-- pulled right: nav area -->
			<div class="pull-right">

				<!-- input: search field -->
<!--
				<form action="#" class="header-search pull-right">
					<input id="search-fld"  type="text" name="param" placeholder="Find a book" data-autocomplete='[
					"todo"]'>
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>
-->
				<!-- end input: search field -->


			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content">

                <div class="row">

                    <article class="col-sm-12 col-md-12 col-lg-6">

                        <!-- new widget -->
                        <div class="jarviswidget" id="wid-id-000" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <header>
                                <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                                <h2>Today</h2>
                            </header>

								<!-- widget div-->
								<div>
								    <!-- content -->
									<div class="widget-body" id="today-widget">
                                        <img src="{{host}}img/loading.gif"></img>
									</div>
								    <!-- end content -->
								</div>
                        </div>
                        <!-- end widget -->
                    </article>


                    <article class="col-sm-12 col-md-12 col-lg-6">

                        <!-- new widget -->
                        <div class="jarviswidget" id="wid-id-000" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <header>
                                <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                                <h2>Yesterday</h2>
                            </header>

								<!-- widget div-->
								<div>
								    <!-- content -->
									<div class="widget-body" id="yesterday-widget">
                                        <img src="{{host}}img/loading.gif"></img>
									</div>
								    <!-- end content -->
								</div>
                        </div>
                        <!-- end widget -->

                    </article>



                </div>

                <!-- end row -->
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- new widget -->
                        <div class="jarviswidget" id="wid-id-000" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <header>
                                <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                                <h2>Month To Date</h2>
                            </header>

								<!-- widget div-->
								<div>
								    <!-- content -->
									<div class="widget-body" id="mtd-widget">
                                        <img src="{{host}}img/loading.gif"></img>
									</div>
								    <!-- end content -->

								</div>


                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <!-- end row -->

                <!-- end row -->
                <div class="row">
                    <article class="col-sm-12 col-md-12 col-lg-12">

                        <!-- new widget -->
                        <div class="jarviswidget" id="wid-id-000" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                            <header>
                                <span class="widget-icon"> <i class="glyphicon glyphicon-stats txt-color-darken"></i> </span>
                                <h2>Prior Month</h2>
                            </header>

								<!-- widget div-->
								<div>
								    <!-- content -->
									<div class="widget-body" id="priormonth-widget">
                                        <img src="{{host}}img/loading.gif"></img>
									</div>
								    <!-- end content -->

								</div>


                        </div>
                        <!-- end widget -->
                    </article>

                </div>
                <!-- end row -->


				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					</div>
				</div>
				<!-- widget grid -->
				<section id="widget-grid" class="">

					<!-- row -->
					<div class="row">
						<article class="col-sm-12">

						</article>
					</div>

					<!-- end row -->

					<!-- row -->

					<div class="row">

						<article class="col-sm-12 col-md-12 col-lg-6">

						</article>

						<article class="col-sm-12 col-md-12 col-lg-6">


						</article>

					</div>

					<!-- end row -->

				</section>
				<!-- end widget grid -->

			</div>
			<!-- END MAIN CONTENT -->

		</div>
		<!-- END MAIN PANEL -->

		<!-- PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white"></span>
				</div>

				<div class="col-xs-6 col-sm-6 text-right hidden-xs">
				</div>
			</div>
		</div>
		<!-- END PAGE FOOTER -->

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

		<!--[if IE 8]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->





